<launch>
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
<node pkg="stage" type="stageros" name="stage" args="$(find project)/world/willow-erratic.world" />
<node pkg="project" type="odometry" name="odometry" />
<node pkg="rviz" type="rviz" name="rviz" />
<node pkg="map_server" type="map_server" args="$(find project)/world/map.yaml" name="map" />
<node pkg="project" type="listener" name="listener" />
<param name="robot_description" textfile="$(find project)/world/robot_model.xml" />
</launch>
